.nav-footer-pic{
    width: 40px;
    height: 40px;
}
nav{
    margin-bottom: 300px;
    a{
        color:black !important;
        text-decoration: none;
        &:hover{
            color:$success !important;
        }
    }
}
.nav-active::before{
    content:"";
    width: 4px;
    height: 32px;
    border-left: 4px solid $primary;
    left: 0;
    position: absolute;
}