tbody{
    a{
        color:black;
        &:hover{
            color: $primary;
        }
    }
}

.page-link:hover{
    background:$primary;
    color: white !important;
}
.addNew:hover{
    color: $primary;
}
.modal-img{
    height: 141px;
    width: 141px;
}